<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title>
      Encabezados
    </ion-title>
  </ion-toolbar>
  <ion-segment scrollable mode="ios" color="primary" (ionChange)="segmentChanged($event)">
    <ion-segment-button [value]="category" mode="md" *ngFor="let category of categories">
      <ion-label class="ion-text-capitalize">{{category}}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <app-news [news]="news"></app-news>
</ion-content>
